#events-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url("../images/event-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
